.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.title {
  font-style: italic;
  font-weight: bold;
  font-size: larger;
}

.section {
  margin: 20px 10px;
}


.button {
  border-radius: 15%;
  border: 1 solid lightgrey;
}